@mixin transform($value){
    -webkit-transform:$value;
    -ms-transform:$value;
    -moz-transform:$value;
    transform:$value;
}

@mixin item($nb-child:5){
  @for $i from 0 through $nb-child {
    $rotate: -((($i*calc-center-angle()) - $angle)/2);
    .csstransforms .opened-nav li:nth-child(#{$nb-child - $i}) {
        @include transform(rotate(#{$rotate}deg) skew(#{calc-skewed-angle()}deg));
    }
  }
}