@mixin transform($value){
    -webkit-transform:$value;
    -ms-transform:$value;
    -moz-transform:$value;
    transform:$value;
}

@mixin rotateAngle($nb){
    rotate(#{$nb*$centerAngle - $angle}deg);
}
@mixin item($nb-child:5){
  @for $i from 1 through $nb-child {
    .csstransforms .cn-wrapper li:nth-child(#{$i}) {
        @include transform( skew(#{$skewedAngle}deg));
    }
  }
}
